//navigation
header {
  position: relative;
  background: $white;
  box-shadow: 0px 4 px 4 px rgba(43, 45, 55, 0.0105441);

  h3 {
    display: inline-block;
  }

  ul {
    float: right;
    text-align: right;

    li {
      margin-top: 4px;
      margin-left: 6px;

      a {
        display: block;
        padding: 5px;
      }
    }
  }
}

#app {
  display: flex;
  flex-direction: column;
}

.p-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($dark, 0.4);
  z-index: 999;

  .p-container {
    position: fixed;
    max-width: 600px;
    top: 2vh;
    bottom: 2vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 3px;
    background: $white;
    box-shadow: 0 0 20px 0 rgba($dark, 0.5);
    overflow: auto;

    .close {
      position: absolute;
      top: 5px;
      right: 10px;
      padding: 5px;
    }

    .post {
      border: 0;
      border-bottom: 1px solid #e6ecf0;

      &:hover {
        background: $white;
      }
    }

    .comment {
      font-size: 14px;
      padding: 1.5rem;
      border-top: 1px solid #e6ecf0;

      &:first-of-type {
        border-top: 0;
      }

      h5 {
        margin: 0 0 0.5rem;
      }

      span {
        display: block;
        font-style: italic;
        font-size: 12px;
        margin-bottom: 0.5rem;
        color: darken($light, 20%);
      }

      p {
        margin: 0;
      }
    }
  }
}

.error {
  color: $error;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;

  form {
    margin-top: 3rem;
    width: 30%;
  }

  .extras {
    margin-top: 1.5rem;
  }

  .extras > a {
    font-size: 0.8rem;
  }

  @media (max-width: 575px) {
    form {
      margin-top: 3rem;
      width: 90%;
    }
  }
}
